<img class="button-play" src="https://picsum.photos/250/250" alt="">

<section class="content">
  <div class="content__header">
    <div class="title">Adele 21</div>
    <div class="row">
      <div class="subtitle">Lo mejor de Adele</div>
      <div class="followers">321,123 seguidores</div>
    </div>
  </div>
  <div class="content__description">
    Adele Laurie Blue Adkins (Tottenham, Londres, Inglaterra, 5 de mayo de 1988), conocida simplemente como Adele, es una cantante, compositora y multinstrumentista británica.8​ 
  </div>
  <div class="content__actions">
    <button mat-button class="fill">Reproducir</button>
    <button mat-button class="outlet">Seguir</button>
    <button mat-icon-button class="icon">
      <fa-icon matSuffix [icon]="'ellipsis'"></fa-icon>
    </button>
  </div>
</section>