:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

mat-drawer-container {
  flex-grow: 1;
}

app-menu, main {
  padding-bottom: 116px;
}

.footer {
  height: 100px;
  width: 100%;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 123;
}
