<mat-drawer-container autosize>
  <mat-drawer [opened]="sidenavOpened$ | async" mode="side">
    <app-menu></app-menu>
  </mat-drawer>

  <div>
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>

<div class="footer">
  <!-- <iframe id="deezer-widget" src="https://widget.deezer.com/widget/dark/album/302127?app_id=457142&autoplay=false&radius=true&tracklist=true" ancho ="700" height="300" allowtransparency="true" allowfullscreen="true" allow="encrypted-media"></iframe> -->
  <button (click)="playAlbum()">playAlbum</button>
  <button (click)="play()">play</button>
  <button (click)="next()">next</button>
  <button (click)="seek()">seek</button>
</div>