<app-page-layout>

  <ng-container header>
    <app-search class="search"></app-search>
    <div class="user-widget" *ngIf="user$ | async as user">
      {{ user.name }}
      <img class="photo" src="{{user.picture_small}}" alt="">
    </div>
  </ng-container>

  <app-artist-banner></app-artist-banner>

  <h2 class="subtitle">Resultados</h2>

  <!-- <pre>
    {{items$ | async | json}}
  </pre> -->

  <div *ngIf="items$ | async as items; else loading" class="song-card-container">
    <ng-container *ngFor="let item of items">
      <ng-container [ngSwitch]="item.type">

        <app-song-card *ngSwitchCase="'track'"
        [title]="item.title"
        [subtitle]="item.artist.name"
        [imgSrc]="item.album.cover"
        (click)="play(item)"
        ></app-song-card>

        <app-song-card *ngSwitchCase="'artist'"
        [title]="item.name"
        [subtitle]="item.type | titlecase"
        [imgSrc]="item.picture"
        (click)="play(item)"
        ></app-song-card>

        <app-song-card *ngSwitchCase="'album'"
        [title]="item.title"
        [subtitle]="item.artist.name"
        [imgSrc]="item.cover"
        (click)="play(item)"
        ></app-song-card>

      </ng-container>
    </ng-container>
  </div>

  <ng-template #loading>Sin resultados</ng-template>

</app-page-layout>