:host {
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 16px;
  width: 100%;
}

.side-action {
  display: flex;
  flex-direction: row;
  
  app-logo {
    width: 45px;
  }
}
