:host {
  --pl: 40px
}

:host {
  display: flex;
  flex-direction: column;
  background-color: #662323;
  color: white;
  height: 100%;
  width: 330px;
}

.close-sidenav {
  align-self: end;
}

app-logo {
  margin-top: 50px;
  margin-bottom: 30px;
  width: 250px;
  align-self: center;
}


.sections-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 8px;

  *:not(.list, .selected) {
    padding-left: var(--pl);
  }

  .subtitle {
    font-weight: 700;
    font-size: 22px;
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .item {
      font-weight: 400;
      font-size: 16px;
      color: white !important;
      text-decoration: none !important;
      
      &:hover {
        text-decoration: underline !important;
      }
  
      &.selected {
        color: #E86060;
        font-weight: 700;
        display: flex;
        gap: 35px;
  
        &:before {
          content: '';
          width: 5px;
          background-color: red;
        }
      }
    }
  }
  
}
