<button *ngIf="['xs', 'md'] | breakpoint | async" 
mat-icon-button class="close-sidenav"
(click)="sidenavService.close()">
  <fa-icon [icon]="['fas', 'square-xmark']" size="2x"></fa-icon>
</button>

<app-logo [type]="(['xs'] | breakpoint | async)? 'icon' : 'logo'" [size]="1"></app-logo>

<div *ngIf="selected$ | async as selected" class="sections-container">
  <section class="section">
    <div class="subtitle">Mi Librería</div>
    <div class="list">
      <a *ngFor="let item of libraryItems" 
      class="item" 
      [class.selected]="item.key===selected"
      [routerLink]="['/']" [queryParams]="{ library: item.key }">
        {{ item.title }}
      </a>
    </div>
  </section>
    
  <section *ngIf="playlist$ | async as playlists" class="section">
    <div class="subtitle">Playlist</div>
    <div class="list">
      <a *ngFor="let item of playlists" 
      class="item"
      [class.selected]="item.id===selected"
      [routerLink]="['/']" [queryParams]="{ playlist: item.id }">
        {{ item.title }}
      </a>
    </div>
  </section>

  <a style="color: white" [routerLink]="['/', 'test']">Test page</a>

  <pre>
    {{selected$ | async | json}}
  </pre>

</div>
