<app-logo></app-logo>

<button mat-button color="warn" (click)="onDeezerLogin()"> 
  <fa-icon [icon]="['fab', 'deezer']"></fa-icon>
  Sign in with Deezer
</button>

<ng-container *ngIf="login$!==undefined ">
  <ng-container *ngIf="{login: login$ | async} as state">
    <ng-container *ngIf="state.login"> Success! </ng-container>
    <ng-container *ngIf="state.login === null"> loading... </ng-container>
    <ng-container *ngIf="state.login === false"> Login error! </ng-container>
  </ng-container>
</ng-container>