<ng-container *ngIf="player.currTrack as track; else noTrack">
  <img [src]="track.cover || track.album['cover']">
  <div class="bar">
    <div class="description">
      <div class="title"> {{track.title}} </div>
      <div class="subtitle">
        Artista: {{track.artist.name}}
      </div>
    </div>
    <div class="player-ctrl">
      <button (click)="player.prev()" mat-icon-button>
        <fa-icon [icon]="['fas', 'backward-step']"></fa-icon>
      </button>
      <button *ngIf="!(player.audio.playing$ | async)" (click)="player.play()" mat-mini-fab class="main">
        <fa-icon [icon]="['fas', 'play']"></fa-icon>
      </button>
      <button *ngIf="player.audio.playing$ | async" (click)="player.pause()" mat-mini-fab class="main">
        <fa-icon [icon]="['fas', 'pause']"></fa-icon>
      </button>
      <button (click)="player.next()" mat-icon-button>
        <fa-icon [icon]="['fas', 'forward-step']"></fa-icon>
      </button>
    </div>
    <div class="volume-ctrl">
      <button mat-icon-button>
        <fa-icon [icon]="['fas', 'volume-high']" size="1x"></fa-icon>
      </button>
      <mat-slider
      class="example-margin"
      [max]="100"
      [min]="0"
      [step]="1"
      [thumbLabel]="false"
      (change)="updateVolume()"
      [(ngModel)]="volume"
      aria-labelledby="example-name-label">
      </mat-slider>
    </div>
  </div>

</ng-container>

<ng-template #noTrack>
  <div class="no-track">
    No track selected
  </div>
</ng-template>